*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

body{
    background-color: var(--Grey-900);
    font-family: 'Inter', sans-serif;
    color: var(--White);
    font-size: 15px;
}

.card{
    width: 375px;
    height: 600px;
    margin: 90px auto;
    background-color: var(--Grey-800);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    margin-top: 30px;
    margin-bottom: 20px;
    width:90px;
    height: 90px;
    border-radius: 60%;
}

.info{
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
}

.info h1{
    font-weight: 500;
}

.info h3{
    font-size: 13px;
    font-weight: 600;
    color: #B8D077;
    opacity: 0.9;
}

.info p{
    font-size: 13px;
    color: #bfbfbf;

}

button{
    display: block;
    font-weight: 550;
    width: 300px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--Grey-700);
    color: var(--White);
    cursor: pointer;
}

button:hover{
    background-color: var(--Green);
    color: var(--Grey-900);
    font-weight: 550;
}